<% if(success === "true") { %>
    <div class="text-center mx-auto alert alert-success alert-dismissible fade show mt-3 col-4">
        <strong>Success!</strong> You have been successfully logged in!
        <button id="loginSuccessClose" type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
<% } %>