<%- include ('./partials/heading.ejs') %> 

<title>Login Page</title>
</head>

<body>
    <nav class="navbar navbar-expand bg-secondary navbar-dark">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/signup">Signup</a>
            <a class="nav-item nav-link active" href="/login">Login</a>
        </div>
    </nav>



<%- include ('./partials/footer.ejs') %>